<% provide(:title, "Sign in") %>
		
<h2 align="center">Sign in!</h2>
  <div class="forms">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.text_field :email, placeholder: "Enter your email...", autofocus: true %>

      <%= f.password_field :password, placeholder: "Enter your password..." %>

      <%= f.submit "Sign in" %>
    <% end %>

    <p class="content">New user? <%= link_to "Sign up now!", new_user_path, class: "black" %></p>
  </div>
