<% provide(:title, "Edit movie") %>
<p class="content">
	<p class="text">
		Edit your account information here:	
	</p>
<%= form_for :movie do |f| %>
    	<div class="forms">
    		<%= f.text_field :name, placeholder: "Name of the movie..." %>
			<%= f.text_area :description, placeholder: "Describe the movie..." %>
			<%= f.text_field :year, placeholder: "When was it released..." %>
			<%= f.submit 'Submit!' %></br>
			<%= link_to "Back to movies", movies_path, class: "black" %>
		</div>
	<% end %>