<% provide(:title, "Create an account") %>

<b align="center">Account creation</b></br>
<b align="center">Fill out the forms below	</b>

<%= form_for(@user) do |f| %>
	<div class="forms">
	<%= render 'shared/error_messages' %>
	<%= f.text_field :email, placeholder: "Email..." %>
	<%= f.text_field :name, placeholder: "Name..."%>
	<%= f.password_field :password, placeholder: "Password..."%>
	<%= f.password_field :password_confirmation, placeholder: "Password confirmation..." %></br>
	<%= f.submit "Register my Account"%>
	
	</div>
<% end %>