<% provide(:title, @user.name.capitalize) %>

<b>User information:</b>

<table align="center">
	<tr>
		<td align="left"><b>Name</b></td>
		<td align="left"><b>Email</b></td>
		<td align="left"><b>Created</b></td>
		<td align="left"><b>Updated</b></td>
	</tr>
 	<tr>
 		<td align="left"><%= @user.name.capitalize %></td>
 		<td align="left"><%= @user.email %></td>
 		<td align="left"><%= @user.created_at %></td>
 		<td align="left"><%= @user.updated_at %></td>
 	</tr>
</table>
<% if @user.posts.any? %>
      	<h3>This user has made(<%= @user.posts.count %>) posts</h3>
<table align="center">
	<tr>
		<td align="left"><b>Content of the post</b></td>
		<td align="left"><b>Created</b></td>
		<td align="left"><b>Destroy post</b></td>
	</tr>
 		 <% @posts.each do |i| %>
 		 	<tr>
 		 	<td align="left"><%= i.content.capitalize %></td>
 		 	<td><%= i.created_at %></td>
			<td><%= link_to "Delete this post", post_path(i), method: :delete, class: "black", data: { confirm: "You sure?" } %></td>
 		 <% end %>
    	<% end %>
    </tr>
</table>
