<% provide(:title, "Converter") %>
<% provide(:header, "Currency converter - From Estonian Kroon to EUR") %>
<p class="content">
<%= form_tag("/form/converter") do %>
	<div class="forms">
	<%= text_field_tag(:x, nil, placeholder: "Enter a number here...")%>
	<%= label_tag(:x, "Amount")%>
	<%= text_field_tag("Exchange rate", number_to_currency(@arv, unit: "€", separator: ",", precision: 3), :readonly => true)%>
	<%= label_tag("Exchange rate")%>
	<%= submit_tag 'Calculate!' %>
	</div>
<% end %>
</p>
