<% provide(:title, "Converter") %>

<b>Currency converter</b></br>
		You can convert EUR to any currency in the drop-down menu!</br>
		Currency rates are updated every bank-day, from the web.
		
<%= form_tag(form_converter_path) do %>
	<div class="forms">
	<%= label_tag("Amount:") %>
	<%= text_field_tag(:number, nil, placeholder: "Enter a number here...", autofocus: true)%>
	<%= label_tag("Exchange rate:") %>
	<%= text_field_tag("Exchange rate", number_to_currency(@arv, unit: @key, separator: ",", precision: 4), :readonly => true)%>
	<%= select_tag(:key, options_for_select(@currency_list.keys, @currency_list.keys.first)) %>
	<%= submit_tag 'Calculate!' %>
	</div>
<% end %>

