<% provide(:title, "Converter") %>
<p class="content">
<%= form_tag(form_converter_path) do %>
	<div class="forms">
	<%= label_tag("Amount  :") %>
	<%= text_field_tag(:number, nil, placeholder: "Enter a number here...")%>
	<%= select_tag(:rate, options_for_select(@currency_list)) %>
	</br>
	<%= label_tag("Exchange") %>
	<%= text_field_tag("Exchange rate", number_to_currency(@arv, unit: "€", separator: ",", precision: 4), :readonly => true)%>
	<%= submit_tag 'Calculate!' %>
	</div>
<% end %>
</p>
