<% provide(:title, "Edit show") %>
<p class="content">
	<p class="text">
		Edit information about the show in here:	
	</p>
<%= form_for @show do |f| %>
    	<div class="forms">
    		<%= f.text_field :name, placeholder: "Name of the show..." %>
			<%= f.text_area :description, placeholder: "Describe the show..." %>
			<%= f.text_field :year, placeholder: "When was it released..." %>
			<%= f.text_field :seasons, placeholder: "How many seasons does it have..." %>
			<%= f.submit 'Submit!' %></br>
			<%= link_to "Back to shows", shows_path, class: "black" %>
		</div>
	<% end %>