<% provide(:title, "New show") %>

<p class="content">
    Create a new show into our database:
    <%= form_for(@show) do |f| %>
    	<div class="forms">
			<%= f.text_field :name, placeholder: "Type in the name of the show...", autofocus: true %>
			<%= f.text_area :description, placeholder: "Type in the description of the show...", autofocus: true %>
			<%= f.text_field :year, placeholder: "The year when show was released...", autofocus: true %>
			<%= f.text_field :seasons, placeholder: "How many seasons it has...", autofocus: true %>
			<%= f.submit 'Submit!' %>
		</div>
	<% end %>
</p>