<% provide(:title, "Create a review") %>

<p class="text">
    <b>Write a new review:</b>
    <%= form_for(@review) do |f| %>
    	<div class="forms">
			<%= f.text_field :heading, placeholder: "Type in the heading for your review...", autofocus: true %>
			<%= f.text_area :about, placeholder: "What movie is your review about..." %>
			<%= f.text_area :content, placeholder: "Type in the content for your review..." %>
			<%= f.submit 'Submit!' %>
		</div>
	<% end %>
</p>