<% provide(:title, @review.heading.capitalize) %>

<h2 align="center">About the review</h2>

<table align="center">
	<tr>
		<td align="left"><b>Heading</b></td>
		<td align="left"><b>Review is about</b></td>
		<td align="left"><b>Created</b></td>
		<td align="left"><b>Created by</b></td>
		
	</tr>
 	<tr>
 		<td align="left"><%= @review.heading.capitalize %></td>
 		<td align="left"><%= @review.about.capitalize %></td>
 		<td align="left"><%= @review.created_at %></td>
 		<td align="left"><%= @review.user.name.capitalize %></td>
 	</tr>
 	<tr>
 		<td align="left"><b>The review:</b></td>
 	</tr>
 	<tr>
 		<td><%= @review.content.capitalize %><td>
 	</tr>
</table>

<%= link_to "Edit review", edit_review_path, class: "black" %> or
<%= link_to "Back to previous page", reviews_path, class: "black" %>